.loader {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    padding: 1rem;
    animation: loader-spin 1.2s infinite ease-in-out;
  }
  
  @keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  